<div class="main-content">
  <div class="container-fluid">
    <div class="card-header card-header-danger">
      <form #userForm="ngForm">
        <div class="row">
          <input matInput type="text" name="id" [(ngModel)]="data.data.id">
          <input matInput type="text" name="password" [(ngModel)]="data.data.password">
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="data.data.username">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="data.data.email">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="role" type="text" name="role" [(ngModel)]="data.data.role">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="flatenNo" type="text" name="flatenNo" [(ngModel)]="data.data.flatenNo">
          </mat-form-field>
        </div>
        
        <button mat-raised-button type="button" (click)="Edit(userForm.value)"
          class="btn btn-danger pull-right">Update</button>
        <button mat-raised-button type="button" (click)="close()" class="btn btn-danger pull-right">Close</button>
      </form>

    </div>
  </div>
</div>