img {
  width: 300px;
  height: auto;
}

.main-content {
  margin-top: 70px;
}

.card-plain {
  background-color: rgb(255, 255, 255);
}

/* .card-header {
  /* padding: 20px; */
  /* Adjust the padding to control the gap above the images */
  /* border: 2px solid #000; *
} */

.image-container {
  display: inline-block;
  /* Display images side by side */
  margin: 10px;
  /* Adjust the margin to control the gap between images */
  padding: 10px;
  /* Adjust the padding to control the space inside each image container */
  width: 30%;
  /* Adjust the width as per your design */
  box-sizing: border-box;
  /* Include padding and border in the width */
  text-align: center;
  /* Center the image within the container */
}

#myModal .modal-body img {
  width: 100%;
  /* Set the width to 100% to make it as wide as the modal */
  height: auto;
  /* Auto height to maintain the image's aspect ratio */
  max-width: none;
  /* Remove the max-width constraint if it's applied */
}

.modal-content {
  width: 820px;
}
