<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>
<html>

<head>
    <title>Slide Navbar</title>
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form  (ngSubmit)="onSingup()" style="margin-top: -13%;">
                <label for="chk" aria-hidden="true" class="title">Sign up</label>
                <input type="text" placeholder="username"  name="username" [(ngModel)]="user.username">
                <input type="text" placeholder="Password"  name="password" [(ngModel)]="user.password">
                <input type="text" placeholder="role"  name="role" [(ngModel)]="user.role">
                <input type="text" placeholder="email"  name="email" [(ngModel)]="user.email">
                <input type="text" placeholder="flatenNo"  name="flatenNo" [(ngModel)]="user.flatenNo">
                <button class="button" type="submit">SingUp</button>
                <!-- <a (click)="openLogin()">Already Have Account? Click to Login</a> -->
            </form>
        </div>
    </div>
</body>

</html>